<a href="https://colab.research.google.com/github/lydiasharon/Automatic-Ticket-Classification/blob/main/experement_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('sample_database.csv')

In [8]:
df.head()

   id     name  age       city  salary
0   1    Alice   25  Hyderabad   50000
1   2      Bob   30  Bangalore   60000
2   3  Charlie   28    Chennai   55000
3   4    Diana   35     Mumbai   70000
4   5     Evan   22      Delhi   45000

In [ ]:
df.